<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Planetas MVC</h1>
    <p>Por favor selecione la vista a la que desea ir</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="http://localhost:4200/TopPlanetasPersonas"><h3>Personas</h3></a>
        <p>Lista de personas que se encuntran registradas</p>
        <span class="glyphicon glyphicon-user" style="font-size:200px;"></span>
      </div>
      <div class="col-sm-4">
        <a href="http://localhost:4200/planetasView"><h3>Planetas</h3></a>
        <p>Lista de planetas que se encuntran registrados</p>
        <span class="glyphicon glyphicon-globe" style="font-size:200px;"></span>
      </div>
      <div class="col-sm-4">
        <a href="http://localhost:4200/TopPlanetasPersonas"><h3>Top 3</h3> </a>   
        <p>Top de personas y planetas con mas visitas</p>
        <span class="	glyphicon glyphicon-signal" style="font-size:200px;"></span>
      </div>
    </div>
  </div>
</body>
